/* Apply a CSS grid with three columns for the 3 side-by-side divs */
#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10%;
}

/* Center the h1 text */
h1.centered {
    text-align: center;
    color: rgba(255, 0, 0, 1); /* Optional: Change color as desired */
}

/* Center the h3 text */
h3 {
	font-weight: 600;
    text-align: center;
	font-size: 1.80em;
    color: rgba(0, 128, 0, 1); /* Optional: Change color as desired */
}

.right-aligned {
    text-align: right;
    display: block;
    margin-top: 10px;
    color: rgba(0, 0, 255); /* Optional: Change color as desired */
}
/* Apply text-align center to the figure tag */
figure {
    text-align: center;
}

/* Apply a font style of italic to the figcaption text */
figcaption {
    font-style: italic;
    font-size: .75em;
    color: rgba(0, 0, 1); /* Optional: Change color as desired */
}

/* Centered text */
.centered {
    text-align: center;
}
